<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>阶梯tableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DDE27031D73D785003DBB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDE271F1D73D785003DBB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDE272A1D73D785003DBB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
